@charset "UTF-8";
@font-face {
  font-family: "fira";
  src: url("@/css/font/FiraCode-Regular.ttf");
}
@font-face {
  font-family: "gothic";
  src: url("@/css/font/SarasaGothicSC-Regular.ttf");
}
@font-face {
  font-family: "sarasa";
  src: url("@/css/font/SarasaMonoSC-Regular.ttf");
}
@font-face {
  font-family: "pingfang";
  src: url("@/css/font/苹方黑体-准-简.ttf");
}
@font-face {
  font-family: "code";
  src: url("@/css/font/CascadiaCode.ttf");
}
/* font */
/* hover background color */
/* heroBanner */
.heroBanner {
  height: 100vh;
  text-align: center;
  position: relative;
  margin-top: -60px;
  overflow: hidden;
  background-color: #fdfdfd;
  display: flex;
  flex-flow: wrap;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}
.heroBanner .logo {
  max-width: 120px;
}
.heroBanner .donate {
  margin-right: 50px;
  width: 36px;
  height: 36px;
  padding: 3px;
  border-radius: 8px;
}
.heroBanner .donate:hover {
  background-color: rgba(70, 70, 70, 0.0901960784);
}
.heroBanner .offsetBox {
  background-color: rgba(255, 255, 255, 0.562);
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.heroBanner .field {
  display: flex;
  gap: 1rem;
  z-index: 2;
  align-items: center;
}
.heroBanner .field * {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.heroBanner .tagline {
  text-indent: 2rem;
  margin: 20px auto;
  padding: 0;
  font-weight: 500;
  max-width: 1200px;
  text-align: start;
  color: #4d4d4d;
  border-radius: 20px;
  padding: 10px;
}
.heroBanner .tagline p {
  margin: 0;
}
.heroBanner .tagline p:last-child {
  font-size: 0.9rem;
  color: #999999;
}
.heroBanner .tagline:hover {
  background-color: rgba(112, 112, 112, 0.0470588235);
}
.heroBanner .title {
  width: 100%;
  font-size: 4rem;
  font-family: db, sans-serif;
  color: #000000;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: start;
  padding-left: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: 1s;
}
.heroBanner .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  height: 60px;
  gap: 1rem;
}
.heroBanner .buttons a {
  font-size: 1.3rem;
  background-color: rgba(238, 238, 238, 0.5019607843);
  color: #585858;
  padding: 0 20px;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 10px;
}
.heroBanner .buttons a:hover {
  text-decoration: none;
  background-color: rgba(226, 226, 226, 0.662745098);
}
.heroBanner .buttons a:first-child {
  flex: 4;
  background-color: #161616;
  color: #f7f7f7;
}
.heroBanner .buttons a:first-child:hover {
  text-decoration: none;
  background-color: #000000;
}

/* 桌面 */
@media screen and (max-width: 1600px) {
  .heroBanner .offsetBox {
    padding: 0 20px;
  }
}
@media screen and (max-width: 939px) {
  .heroBanner {
    display: block;
    padding: 4rem 0;
    height: 100%;
  }
  .heroBanner .donate {
    margin-right: 0;
  }
  .heroBanner .field {
    display: flex;
    flex-direction: column;
  }
  .heroBanner .field .title {
    font-size: 3rem;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    margin: 0 auto;
  }
  .heroBanner .buttons {
    padding: 0 20px;
    display: flex;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
    max-width: unset;
  }
  .heroBanner .buttons a {
    flex: 1;
    width: 100%;
    padding: 10px;
  }
  .heroBanner .offsetBox {
    margin: 0 auto;
    width: 100%;
  }
}
@media screen and (max-width: 560px) {
  .heroBanner {
    padding: 4rem 0;
    height: 100%;
  }
  .heroBanner .buttons {
    margin: 20px auto;
    flex-direction: column;
    height: 100%;
  }
  .heroBanner .field .title {
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    margin: 0 auto;
    font-size: 2rem;
  }
}/*# sourceMappingURL=index.module.css.map */