/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 40vh 0;
  text-align: center;
  position: relative;
  margin-top: -60px;
  overflow: hidden;

  .tagline {
    font-size: 1.2rem;
    text-indent: 2.4rem;
    margin: 20px auto;
    padding: 0;
    font-weight: 200;
    max-width: 1200px;
    text-align: start;
    color: #979797;
    font-family: "sanji";
  }


  .title {
    font-size: 4rem;
  }
}




@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 4rem 0;
  }
}