/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 40vh 0;
  text-align: center;
  position: relative;
  margin-top: -60px;
  overflow: hidden;
  background: rgb(250, 242, 242);
  // background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(235,215,244,1) 42%, rgba(148,187,233,1) 100%);
  .tagline {
    font-size: 1.2rem;
    text-indent: 2.4rem;
    margin: 10px auto;
    padding: 0;
    max-width: 1200px;
    text-align: start;
    color: #e7d9d0;
  }


  .title {
    font-size: 5rem;
  }
}




@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 4rem;
  }
}