/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 40vh 0;
  text-align: center;
  position: relative;
  margin-top: -60px;
  overflow: hidden;
  //background: rgb(250, 242, 242);

  // &::after{
  //   background: url("../../static/img/back.jpg");
  //   content: "";
  //   position: absolute;
  //   inset: 0;
  //   z-index: -2;
  //   filter: blur(6px);
  //   scale: 1.1;
  //   transition: all ease-in-out 100ms;
  // }

  // &::before{
  //   content: "";
  //   position: absolute;
  //   inset: 0;
  //   background-color: black;
  //   opacity: 0.3;
  //   z-index: -1;
  // }


  // background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(235,215,244,1) 42%, rgba(148,187,233,1) 100%);
  .tagline {
    font-size: 1.1rem;
    text-indent: 2.4rem;
    margin: 10px auto;
    padding: 0;
    font-weight: 300;
    max-width: 1200px;
    text-align: start;
    color: #a78a65;
    font-family: "微软雅黑";
  }


  .title {
    font-size: 4rem;
  }
}




@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 4rem;
  }
}