@font-face {
  font-family: "fira";
  src: url("@/css/font/FiraCode-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "gothic";
  src: url("@/css/font/SarasaGothicSC-Regular.ttf");
}
@font-face {
  font-family: "sarasa";
  src: url("@/css/font/SarasaMonoSC-Regular.ttf");
}
@font-face {
  font-family: "pingfang";
  src: url("@/css/font/苹方黑体-准-简.ttf");
}

@font-face {
  font-family: "code";
  src: url("@/css/font/CascadiaCode.ttf");
}

/* font */
$font_mainText:
  Chinese Quote,
  Segoe UI,
  PingFang SC,
  Hiragino Sans GB,
  Microsoft YaHei,
  Helvetica Neue,
  Helvetica,
  Arial,
  sans-serif;
$font_code: code;
$font_codeblock: fira;
$font_title: $font_mainText;
$font_blockquote: $font_mainText;
$font_nav_title: db, sans-serif;
$font_nav_item: $font_mainText;

/* hover background color */
$color_background_hover: #fafafa;
$color_primary: #ffab2e;
$color_background_active: #fafafa;
$color_border: #2c323621;
$color_font_title: #000000;
$color_navItem: #555658;
$color_font_on_primary: #ffffff;
$color_font_main: #505050;

$color_font_nav_hover: #ff761a;

$color_link: #f09e24; 
$link: #0e41ad;


$border: 1px solid #cfcfcf;