/* hover background color */
$background_color_hover: rgba(70, 65, 65, 0.041);
$background_color_active:#5337f0;
$color_primary: #5337f0;
$color_border: #2c323621;

$color_navItem: #555658;
$color_font_on_primary: #f0f0f0;