@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "normals";
  src: url("@/css/font/常规.otf");
}
@font-face {
  font-family: "baloo";
  src: url("@/css/font/BalooTamma-Regular.ttf");
}
@font-face {
  font-family: "fira";
  src: url("@/css/font/FiraCode-Regular.ttf");
}
@font-face {
  font-family: "gothic";
  src: url("@/css/font/SarasaGothicSC-Regular.ttf");
}
@font-face {
  font-family: "sarasa";
  src: url("@/css/font/SarasaMonoSC-Regular.ttf");
}
@font-face {
  font-family: "pingfang";
  src: url("@/css/font/苹方黑体-准-简.ttf");
}
@font-face {
  font-family: "code";
  src: url("@/css/font/CascadiaCode.ttf");
}
@font-face {
  font-family: "cascadia";
  src: url("@/css/font/CascadiaMono.ttf");
}
@font-face {
  font-family: "Apahal";
  src: url("@/css/font/Apahal.ttf");
}
@font-face {
  font-family: "Courages";
  src: url("@/css/font/Boiling.ttf");
}
@font-face {
  font-family: "db";
  src: url("@/css/font/20db.otf");
}
/* font */
/* hover background color */
.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  margin: 2rem 0;
  font-family: Chinese Quote, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.markdown > h1 {
  font-size: 3.2rem;
  font-weight: 600;
  font-family: "微软雅黑";
}
.markdown > h2 {
  font-size: 2rem;
}
.markdown > h3 {
  font-size: 1.5rem;
}
.markdown > h4 {
  font-size: 1.2rem;
}
.markdown > p, .markdown li {
  letter-spacing: 0.5px;
  line-height: 2rem;
  font-size: 1rem;
  margin: 6px 0;
  color: #3d3d3d;
}
.markdown code {
  font-family: code;
  font-size: small;
  background-color: rgba(202, 202, 214, 0.3215686275);
  border: none;
  padding: 3px 5px;
}
.markdown .theme-code-block {
  box-shadow: none;
  border: 1px solid transparent;
}
.markdown .theme-code-block code {
  padding: 16px;
}
.markdown .theme-code-block * {
  font-family: fira;
  font-display: swap;
  font-size: 0.88rem;
}
.markdown .theme-code-block:hover {
  border: 1px solid rgb(224, 225, 230);
}
.markdown .theme-code-block div[class*=codeBlockTitle] {
  padding: 8px 20px 0;
  border: none;
  color: #7c7c7c;
}
.markdown pre {
  transition: all ease 100ms;
}
.markdown pre * {
  background-color: #f6f8fa !important;
}
.markdown pre code {
  font-size: 0.93rem;
  font-weight: 300;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}
.markdown pre code .comment {
  color: #4d8a52 !important;
}
.markdown pre ::-webkit-scrollbar {
  display: none;
  width: 10px;
  background-color: #F5F5F5;
}
.markdown pre ::-webkit-scrollbar-track {
  /*background-color: darkgrey;*/
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  background-color: #F5F5F5;
}
.markdown pre ::-webkit-scrollbar-button {
  display: none;
}
.markdown pre ::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: #efefef;
  border-radius: 20px;
  /*border: 2px solid #555555;*/
}
.markdown blockquote {
  background-color: #f7f7f8;
  transition: all ease 100ms;
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
}
.markdown blockquote * {
  color: #868686;
  font-family: Chinese Quote, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.88rem;
}
.markdown blockquote:hover {
  background-color: #f1f1f5;
}
.markdown img {
  border: 1px solid transparent;
  transition: all ease-in 50ms;
  border-radius: 12px;
}
.markdown img:hover {
  border: 1px solid #838a92;
}
.markdown ol {
  list-style: decimal;
  margin-left: 0;
}
.markdown li {
  margin: 0 !important;
  text-indent: 0;
}
.markdown li p {
  text-indent: 0;
  margin: 0;
}

.hash-link {
  color: #000000;
}

.katex * {
  font-family: "KaTeX_Main", "Times New Roman", serif !important;
}

table {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}

.docusaurus-mermaid-container {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
.docusaurus-mermaid-container polygon, .docusaurus-mermaid-container rect, .docusaurus-mermaid-container circle {
  fill: #fdfaf7 !important;
  stroke: #f1e9e3 !important;
}
.docusaurus-mermaid-container .edgePaths * {
  stroke-width: 1px;
  stroke: #c1c5ca !important;
}
.docusaurus-mermaid-container .marker {
  stroke: none !important;
  fill: #c1c5ca !important;
}
.docusaurus-mermaid-container .edgeLabel {
  background-color: transparent !important;
}
.docusaurus-mermaid-container .cluster {
  fill: transparent !important;
  stroke-dasharray: 20 10 20 10 !important;
  stroke-width: 2px !important;
  stroke: #4d8a52 !important;
}
.docusaurus-mermaid-container .cluster * {
  fill: transparent !important;
  stroke-linejoin: round !important;
  stroke-dasharray: 10 5 !important;
  stroke-width: 1px !important;
  stroke: #83ac87 !important;
}

@font-face {
  font-family: "normals";
  src: url("@/css/font/常规.otf");
}
@font-face {
  font-family: "baloo";
  src: url("@/css/font/BalooTamma-Regular.ttf");
}
@font-face {
  font-family: "fira";
  src: url("@/css/font/FiraCode-Regular.ttf");
}
@font-face {
  font-family: "gothic";
  src: url("@/css/font/SarasaGothicSC-Regular.ttf");
}
@font-face {
  font-family: "sarasa";
  src: url("@/css/font/SarasaMonoSC-Regular.ttf");
}
@font-face {
  font-family: "pingfang";
  src: url("@/css/font/苹方黑体-准-简.ttf");
}
@font-face {
  font-family: "code";
  src: url("@/css/font/CascadiaCode.ttf");
}
@font-face {
  font-family: "cascadia";
  src: url("@/css/font/CascadiaMono.ttf");
}
@font-face {
  font-family: "Apahal";
  src: url("@/css/font/Apahal.ttf");
}
@font-face {
  font-family: "Courages";
  src: url("@/css/font/Boiling.ttf");
}
@font-face {
  font-family: "db";
  src: url("@/css/font/20db.otf");
}
/* font */
/* hover background color */
/**
默认

*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Chinese Quote, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-display: swap;
}

:root {
  --ifm-menu-link-sublist-icon: url("/static/img/expand.svg");
  --ifm-footer-background-color:#000 !important;
}

.footer--dark {
  --ifm-footer-background-color:#000 !important;
}

/***
navbar
*/
.navbar {
  box-shadow: none;
  position: relative;
}
.navbar .navbar__title {
  color: #000000;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: db, sans-serif;
  font-weight: 400;
}
.navbar .navbar__item.navbar__link {
  color: unset;
  font-family: Chinese Quote, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  margin-right: 5px;
  border-bottom: 2px solid transparent;
}
.navbar .navbar__link--active {
  border-bottom: 2px solid #ffab2e !important;
}

.plugin-docs .navbar {
  background-color: transparent;
}
.plugin-docs .navbar .navbar__logo {
  visibility: hidden;
}
.plugin-docs .navbar .navbar__title {
  visibility: hidden;
}

/* pages中的navbar */
.plugin-pages .navbar {
  background-color: transparent;
  border-bottom: 1px solid transparent;
}

/**
sidebar
*/
@keyframes example {
  from {
    height: 0;
    top: 50%;
  }
  to {
    height: 60%;
    top: 20%;
  }
}
aside {
  /* title */
  /* sidebar menu */
}
aside b {
  color: #000000;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: db, sans-serif;
  font-weight: 400;
}
aside nav .clean-btn.navbar-sidebar__back {
  background: none;
}
aside nav > ul {
  /* 所有的点击 */
}
aside nav > ul div.menu__link,
aside nav > ul a.menu__link {
  padding: 3px 12px;
  white-space: nowrap;
  height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9rem;
  font-family: Chinese Quote, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #555658;
  position: relative;
}
aside nav > ul div.menu__link::before,
aside nav > ul a.menu__link::before {
  content: "";
  width: 3px;
  height: 0;
  position: absolute;
  top: 50%;
  left: 2px;
  background-color: #ffab2e;
  opacity: 0.5;
  transition: all ease 100ms;
}
aside nav > ul div.menu__link:hover,
aside nav > ul a.menu__link:hover {
  color: unset;
  background-color: transparent !important;
}
aside nav > ul div.menu__link:hover::before,
aside nav > ul a.menu__link:hover::before {
  height: 60%;
  top: 20%;
}
aside nav > ul div.menu__link::before, aside nav > ul div.menu__link::after,
aside nav > ul a.menu__link::before,
aside nav > ul a.menu__link::after {
  fill: rgba(0, 0, 0, 0.0470588235);
}
aside nav > ul div.menu__link--active,
aside nav > ul a.menu__link--active {
  background-color: #fafafa !important;
}
aside nav > ul div.menu__link--active:hover,
aside nav > ul a.menu__link--active:hover {
  background-color: #fafafa !important;
}
aside nav > ul div.menu__link--active::before,
aside nav > ul a.menu__link--active::before {
  content: "";
  width: 3px;
  height: 60%;
  position: absolute;
  top: 20%;
  left: 2px;
  background-color: #ffab2e;
}
aside nav > ul div.menu__list-item-collapsible,
aside nav > ul a.menu__list-item-collapsible {
  padding: 3px 12px;
  white-space: nowrap;
  height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9rem;
  font-family: Chinese Quote, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #555658;
  position: relative;
  margin: 0;
  padding: 0;
  /* 激活的下拉菜单 */
}
aside nav > ul div.menu__list-item-collapsible::before,
aside nav > ul a.menu__list-item-collapsible::before {
  content: "";
  width: 3px;
  height: 0;
  position: absolute;
  top: 50%;
  left: 2px;
  background-color: #ffab2e;
  opacity: 0.5;
  transition: all ease 100ms;
}
aside nav > ul div.menu__list-item-collapsible:hover,
aside nav > ul a.menu__list-item-collapsible:hover {
  color: unset;
  background-color: transparent !important;
}
aside nav > ul div.menu__list-item-collapsible:hover::before,
aside nav > ul a.menu__list-item-collapsible:hover::before {
  height: 60%;
  top: 20%;
}
aside nav > ul div.menu__list-item-collapsible::before, aside nav > ul div.menu__list-item-collapsible::after,
aside nav > ul a.menu__list-item-collapsible::before,
aside nav > ul a.menu__list-item-collapsible::after {
  fill: rgba(0, 0, 0, 0.0470588235);
}
aside nav > ul div.menu__list-item-collapsible:hover,
aside nav > ul a.menu__list-item-collapsible:hover {
  background-color: transparent !important;
}
aside nav > ul div.menu__list-item-collapsible .menu__link--sublist.menu__link:hover,
aside nav > ul a.menu__list-item-collapsible .menu__link--sublist.menu__link:hover {
  background-color: transparent !important;
}
aside nav > ul div.menu__list-item-collapsible.menu__list-item-collapsible--active,
aside nav > ul a.menu__list-item-collapsible.menu__list-item-collapsible--active {
  background-color: transparent !important;
}
aside nav > ul div.menu__list-item-collapsible .menu__link--sublist.menu__link--active,
aside nav > ul a.menu__list-item-collapsible .menu__link--sublist.menu__link--active {
  background-color: transparent !important;
}

/* scrollbar */
::-webkit-scrollbar {
  display: none;
}

/** docs */
main article .theme-edit-this-page {
  padding: 10px;
  border-radius: 10px;
  font-size: 0.8rem;
  color: #555658;
}
main article .theme-edit-this-page:hover {
  background-color: #fafafa;
  text-decoration: none;
}
main nav .pagination-nav__link {
  border: none;
  transition: all ease-in 100ms;
  position: relative;
}
main nav .pagination-nav__link .pagination-nav__label {
  color: #555658;
  font-family: Chinese Quote, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
}
main nav .pagination-nav__link .pagination-nav__label::after, main nav .pagination-nav__link .pagination-nav__label::before {
  display: none;
}
main nav .pagination-nav__link:hover {
  background-color: #fafafa;
}
main nav .pagination-nav__link:hover::before {
  height: 80%;
  top: 10%;
}
main nav .pagination-nav__link--next::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 40%;
  border-radius: 2px;
  top: 30%;
  z-index: 1;
  background-color: #ffab2e;
  transition: all ease 200ms;
  right: 2px;
}
main nav .pagination-nav__link--prev::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 40%;
  border-radius: 2px;
  top: 30%;
  z-index: 1;
  background-color: #ffab2e;
  transition: all ease 200ms;
  left: 2px;
}

/* footer */
footer .footer__copyright {
  color: #808080;
  font-size: 0.8rem;
}
footer .footer__link-item {
  color: #bebebe;
}
footer .footer__link-item:hover {
  color: #ffffff;
}

/* toc */
.theme-doc-toc-desktop .table-of-contents {
  min-width: 240px;
  max-width: 100%;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  padding: 6px;
  border-radius: 20px;
  background-color: #fcfcfc;
}
.theme-doc-toc-desktop .table-of-contents li {
  margin: 1px;
}
.theme-doc-toc-desktop .table-of-contents li .table-of-contents__link {
  padding: 2px 10px 2px 20px;
  font-size: 0.84rem;
  font-family: Chinese Quote, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  border-radius: 20px;
  border: 1px solid transparent;
  position: relative;
}
.theme-doc-toc-desktop .table-of-contents li .table-of-contents__link:hover {
  background-color: #fafafa;
  color: #555658;
}
.theme-doc-toc-desktop .table-of-contents li .table-of-contents__link.table-of-contents__link--active {
  background-color: #fafafa;
  color: #555658;
}
.theme-doc-toc-desktop .table-of-contents li .table-of-contents__link.table-of-contents__link--active::before {
  content: "";
  position: absolute;
  left: 8px;
  width: 6px;
  border-radius: 5px;
  height: 6px;
  background-color: #ffab2e;
  top: calc(50% - 3px);
}

.theme-doc-toc-mobile {
  background-color: #fcfcfc !important;
  border: #303846;
}

.breadcrumbs__item--active .breadcrumbs__link {
  color: #4d4d4d;
}/*# sourceMappingURL=custom.css.map */