@import "typography";
@import "const";

/**
默认

*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font_mainText;
  font-display: swap;
}

/* scrollbar */
body::-webkit-scrollbar {
  display: none;
}

:root {
  --ifm-menu-link-sublist-icon: url("/static/img/expand.svg");
  --ifm-footer-background-color: #000 !important;
}

.footer--dark {
  --ifm-footer-background-color: #000 !important;
}

/***
navbar
*/
@mixin title {
  color: $color_font_title;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: $font_nav_title;
  font-weight: 400;
}

@mixin navbarItem {
  color: unset;
  font-family: $font_nav_item;
  font-size: 0.9rem;
  font-weight: 400;
  margin-right: 5px;
  border-bottom: 2px solid transparent;
  text-transform: capitalize;
}

.navbar {
  box-shadow: none;
  position: relative;

  .navbar__title {
    @include title();
  }
  .navbar__item.navbar__link {
    @include navbarItem();

  }
  .navbar__item.dropdown {
    @include navbarItem();
  
    .navbar__link{
      position: relative;

      padding-right: 20px;
      &::after{
        content: url(/static/img/down.svg);
        border: none;
        font-family: $font_title;
        position: absolute;
        top: 15px;
        right: 0;
        display: block;
      
   
        
      }
    }
    &:hover{
      .navbar__link{
        color:$color_primary;
     
      }
    
    }
  }
  .navbar__link--active {
    border-bottom: 2px solid $color_primary !important;
  }

  .dropdown__menu{
    box-shadow: none;
    border: $border;
    padding: 5px;
  }

  .dropdown__link.dropdown__link--active{
    color:$color_primary;
  }

}


.plugin-docs {
  .navbar {
    background-color: transparent;
    .navbar__logo {
      visibility: hidden;
    }
    .navbar__title {
      visibility: hidden;
    }
  }
}

/* pages中的navbar */
.plugin-pages {
  .navbar {
    background-color: transparent;
    border-bottom: 1px solid transparent;
  }
}

/**
sidebar
*/

@mixin navItem {
  padding: 3px 12px;
  white-space: nowrap;
  height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9rem;
  font-family: $font_mainText;
  color: $color_navItem;
  position: relative;
  text-transform: capitalize;

  &::before {
    content: "";
    width: 3px;
    height: 0;
    position: absolute;
    top: 50%;
    left: 2px;

    background-color: $color_primary;
    opacity: 0.5;
    transition: all ease 100ms;
  }
  &:hover {
    color: unset;
    background-color: transparent !important;

    &::before {
      height: 60%;
      top: 20%;
    }
  }
  &::before,
  &::after {
    fill: #0000000c;
  }
}

aside {
  /* title */
  b {
    @include title();
  }
  /* sidebar menu */
  nav {
    .clean-btn.navbar-sidebar__back {
      background: none;
    }
    > ul {
      /* 所有的点击 */
      div,
      a {
        &.menu__link {
          @include navItem();
        }
        &.menu__link--active {
          background-color: #fafafa !important;
          &:hover {
            background-color: #fafafa !important;
          }
          &::before {
            content: "";
            width: 3px;
            height: 60%;
            position: absolute;
            top: 20%;
            left: 2px;
            background-color: $color_primary;
          }
        }

        &.menu__list-item-collapsible {
          @include navItem();
          margin: 0;
          padding: 0;
          /* 激活的下拉菜单 */
          &:hover {
            background-color: transparent !important;
          }
          .menu__link--sublist.menu__link {
            &:hover {
              background-color: transparent !important;
            }
          }
          &.menu__list-item-collapsible--active {
            background-color: transparent !important;
          }
          .menu__link--sublist.menu__link--active {
            background-color: transparent !important;
          }
        }
      }
    }
  }
}



/** docs */
@mixin pagination_before {
  content: "";
  position: absolute;
  width: 4px;
  height: 40%;
  border-radius: 2px;
  top: calc(30%);
  z-index: 1;
  background-color: $color_primary;
  transition: all ease 200ms;
}
main {
  article {
    .theme-edit-this-page {
      padding: 10px;
      border-radius: 10px;
      font-size: 0.8rem;
      color: $color_navItem;
      &:hover {
        background-color: $color_background_hover;
        text-decoration: none;
      }
    }
  }

  nav {
    .pagination-nav__link {
      border: none;
      transition: all ease-in 100ms;
      position: relative;
      .pagination-nav__label {
        color: $color_navItem;
        font-family: $font_mainText;
        font-weight: 200;
        font-size: 1.2rem;
        &::after,
        &::before {
          display: none;
        }
      }

      &:hover {
        background-color: $color_background_hover;
        &::before {
          height: 80%;
          top: calc(10%);
        }
      }
    }

    .pagination-nav__link--next {
      &::before {
        @include pagination_before;
        right: 2px;
      }
    }
    .pagination-nav__link--prev {
      &::before {
        @include pagination_before;
        left: 2px;
      }
    }
  }
}

/* footer */

footer {
  .footer__copyright {
    color: #808080;
    font-size: 0.8rem;
  }

  .footer__link-item {
    color: #bebebe;
    &:hover {
      color: $color_primary;
    }
  }
}

/* toc */
.theme-doc-toc-desktop {
  .table-of-contents {
    min-width: 240px;
    max-width: 100%;
    border: none;
    padding: 6px;
    border-radius: 20px;

    li {
      margin: 1px;
      .table-of-contents__link {
        padding: 2px 10px 2px 20px;
        font-size: 0.84rem;
        font-family: $font_mainText;
        border-radius: 20px;
        border: 1px solid transparent;
        position: relative;
        &:hover {
          background-color: $color_background_hover;
          color: $color_navItem;
        }
        &.table-of-contents__link--active {
          &::before {
            content: "";
            position: absolute;
            left: 8px;
            width: 6px;
            border-radius: 5px;
            height: 6px;
            background-color: $color_primary;
            top: calc(50% - 3px);
          }
          background-color: $color_background_hover;
          color: $color_navItem;
        }
      }
    }
  }
}
.theme-doc-toc-mobile {
  background-color: #fcfcfc !important;
  border: #303846;
}

.breadcrumbs__item--active {
  .breadcrumbs__link {
    color: #4d4d4d;
  }
}
