@import "typography";
@import "const";

/**
默认

*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font_mainText;
  font-display: swap;
}

/* scrollbar */
body::-webkit-scrollbar {
  display: none;
}

:root {
  --ifm-menu-link-sublist-icon: url("/static/img/expand.svg");
  --ifm-footer-background-color: #000 !important;
}

.footer--dark {
  --ifm-footer-background-color: #000 !important;
}

/***
navbar
*/
@mixin title {
  color: $color_font_title;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: $font_nav_title;
  font-weight: 400;
}

@mixin navbarItem {
  color: unset;
  font-size: 0.9rem;
  font-weight: 400 !important;
  margin-right: 5px;
  border-bottom: 2px solid transparent;
  text-transform: capitalize;
}

.navbar {
  box-shadow: none;
  position: relative;

  .navbar__title {
    @include title();
  }
  .navbar__link {
    font-weight: 400;
  }
  .navbar__item.navbar__link {
    @include navbarItem();
  }
  .navbar__item.dropdown {
    @include navbarItem();

    .navbar__link {
      position: relative;
      padding-right: 20px;
      &::after {
        content: url(/static/img/down.svg);
        border: none;
        font-family: $font_title;
        position: absolute;
        top: 15px;
        right: 0;
        display: block;
      }
    }
    &:hover {
      .navbar__link {
        color: $color_primary;
      }
    }
  }
  .navbar__link--active {
    border-bottom: 2px solid $color_primary !important;
  }

  .dropdown__menu {
    box-shadow: none;
    border: $border;

    padding: 5px;
    font-family: $font_nav_item;
  }

  .dropdown__link.dropdown__link--active {
    color: $color_primary;
  }
}

.plugin-docs {
  .navbar {
    background-color: transparent;
    .navbar__logo {
      visibility: hidden;
    }
    .navbar__title {
      visibility: hidden;
    }
  }
}

/* pages中的navbar */
.plugin-pages {
  .navbar {
    background-color: transparent;
    border-bottom: 1px solid transparent;
  }
}

/**
sidebar
*/

@mixin navItem {
  margin: 2px 0;
  white-space: nowrap;
  height: 22px;
  text-overflow: ellipsis;
  user-select: none;
  overflow: hidden;
  position: relative;
  text-transform: capitalize;
}

aside {
  /* title */
  border-right: none !important;
  b {
    @include title();
  }

  /* sidebar menu */
  nav {
    padding: 0 0 30px 10px !important;
    &.thin-scrollbar {
      scrollbar-width: unset !important;
    }
    .menu__list {
      padding: 0;
      padding-left: 0 !important;
    }
    // &:after{
    //   content: "";
    //   position:absolute !important;
    //   right: 0;
    //   top: 80px;
    //   clear: both;
    //   width: 1px;
    //   height: 200px;
    //   background-color: #000;
    // }

    .menu__link {
      font-weight: 400;
      font-size: 0.9rem;
      font-family: $font_nav_item;
      color: #1a1a1a;
      padding-left: 30px !important;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        left: 5px;
        top: 3px;
      }
      &:hover {
        background-color: transparent !important;
        text-decoration: underline;
      }
    }
    .menu__link--active:not(.menu__link--sublist) {
      background-color: transparent !important;
      &:hover {
        color: unset !important;
      }
      &::before {
        content: "☞";
      }
    }
    .menu__list-item-collapsible {
      margin: 20px 0 6px;
      .menu__link:first-child {
        font-size: 0.9rem;
        font-family: $font_nav_title;
        font-weight: 400;
        color: #7e7e7e;
        text-decoration: unset;
        padding-left: 5px !important;
        position: relative;
        &::before {
          position: relative !important;
          content: "#️⃣";
          padding-right: 5px;
          left: 0;
          top: 0;
          // height: 100%;
          // width: 6px;
          // position: absolute;
          // top: 0;
          // left:3px;
          // background-color: #000;
        }
      }

      &:hover {
        background-color: transparent;
        color: unset !important;
      }
    }

    .clean-btn.navbar-sidebar__back {
      background: none;
    }
    > ul {
      /* 所有的点击 */
      div,
      a {
        &.menu__link {
          @include navItem();
        }

        &.menu__list-item {
          @include navItem();
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

/** docs */
@mixin pagination_before {
  content: "";
  position: absolute;
  width: 4px;
  height: 40%;
  border-radius: 2px;
  top: calc(30%);
  z-index: 1;
  background-color: $color_primary;
  transition: all ease 200ms;
}
main {
  article {
    .theme-edit-this-page {
      padding: 10px;
      border-radius: 10px;
      font-size: 0.8rem;
      color: $color_navItem;
      &:hover {
        background-color: $color_background_hover;
        text-decoration: none;
      }
    }
  }

  nav {
    .pagination-nav__link {
      border: none;
      transition: all ease-in 100ms;
      position: relative;
      .pagination-nav__label {
        color: $color_navItem;
        font-family: $font_mainText;
        font-weight: 500;
        font-size: 1.2rem;
        &::after,
        &::before {
          display: none;
        }
      }

      &:hover {
        background-color: $color_background_hover;
        &::before {
          height: 80%;
          top: calc(10%);
        }
      }
    }

    .pagination-nav__link--next {
      &::before {
        @include pagination_before;
        right: 2px;
      }
    }
    .pagination-nav__link--prev {
      &::before {
        @include pagination_before;
        left: 2px;
      }
    }
  }
}

/* footer */

footer {
  .footer__copyright {
    color: #808080;
    font-size: 0.8rem;
  }

  .footer__link-item {
    color: #bebebe;
    &:hover {
      color: white;
    }
  }
}

/* toc */
.theme-doc-toc-desktop {
  .table-of-contents {
    min-width: 240px;
    max-width: 100%;
    border: none;
    padding: 6px;
    border-radius: 20px;

    li {
      margin: 1px;
      .table-of-contents__link {
        padding: 2px 10px 2px 20px;
        font-size: 0.84rem;
        font-family: $font_mainText;
        border-radius: 20px;
        border: 1px solid transparent;
        position: relative;
        &:hover {
          background-color: $color_background_hover;
          color: $color_navItem;
        }
        &.table-of-contents__link--active {
          &::before {
            content: "";
            position: absolute;
            left: 8px;
            width: 6px;
            border-radius: 5px;
            height: 6px;
            background-color: $color_primary;
            top: calc(50% - 3px);
          }
          background-color: $color_background_hover;
          color: $color_navItem;
        }
      }
    }
  }
}
.theme-doc-toc-mobile {
  background-color: #fcfcfc !important;
  border: #303846;
}

.breadcrumbs__item--active {
  .breadcrumbs__link {
    color: #4d4d4d;
  }
}
