.markdown{
  h1,h2,h3,h4,h5,h6{
    margin: 2rem 0;
  }
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2rem;
  }
  h3{
    font-size: 1.5rem;
  }
  p,li{
    line-height: 1.8rem;
    margin: 6px 0;
    color: #616161;
    a{
      color: var(--ifm-color-primary);
    }
  }
  code{
    font-family: 'code';
    font-size: small;
    background-color: #edf0f3;
    border: none;
    padding: 3px 5px;
  }
  .theme-code-block{
    box-shadow: none;
    code {
      padding: 16px;
    }
    *{
      font-family: "J_Light";
      font-size: 0.88rem;
    }
    div[class*="codeBlockTitle"]{
      background-color: #252833;
        padding: 8px 20px;
        border: none;
        color: #d8d8d8;
      }
    
  }
  pre {
    *{
      background-color: #252833 !important;

    }
    code {
      font-size: 0.93rem;
      font-weight: 300;
    }
  }
  img{
    border: 1px solid transparent;
    transition: all ease-in 50ms;
    &:hover{
      border: 1px solid #dedede;
      border-radius: 12px;
    }

  }

  ol {
    list-style: thumbs;
    margin-left: 20px;
  }
  li {
    margin: 0;
    text-indent: 0;
    p {
      text-indent: 0;
      margin: 0;
    }
  }
}

@counter-style thumbs {
  system: cyclic;
  symbols:  "\1F30E" "\1F33D" "\1F34C" "\1F525" "\1F340" "\1F351" "\1F355" "\1F36A" "\1F36D" "\1F388" "\1F4CC" "\1F4E2" ;
  suffix: " ";
}