.markdown{
  h1,h2,h3,h4,h5,h6{
    margin: 2rem 0;
  }
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2.4rem;
  }
  h3{
    font-size: 1.5rem;
  }
  p,li{
    line-height: 1.8rem;
    margin: 6px 0;
    color: #505050;
  }
}

